<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
<h1>Song: <%= link_to @artist.song.title, artist-path(@artist.song) %></h1>
  <%= f.submit %>
<% end %>
