<h1> Songs </h1>

<ul>
  <% @songs.each do |song| %>
  <a href="<%=artist_path(song.artist)%>"><%= song.artist_name %></a>
  
  <li><a href="<%=song_path(song)%>"><%=song.artist_name%> - <%=song.title%></a></li>
  <br>
  <% end %>
</ul>
