<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :artist_id, "Artist:" %>
  <%= f.collection_radio_buttons :artist_id, @artists, :id, :name %>
  <br>

  <%= f.submit %>
<% end %>


